
@media (max-width:1000px) {
    .meio{
        width: 100%;
    }
}

@media (max-width: 950px){
    .input_meio{
        flex-direction: column;
    }
    
    .input_submit{
       margin: auto;
    }
    .input_email{
        width: 100%;
        height: 45px;
        padding: 10px;
        font-size: 20px;
        margin: auto;
    }

    .modulos{
        flex-direction: column;
    }

    .texto_modulo{
        flex-direction: column;
        display: flex;
        width: 100%;
        margin: 50px;
        
    }
    .texto_modulo > h1{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .texto_modulo > h2{
        font-weight: lighter;
        font-size: 20px;
        text-align: center;
    }
    .imagem_modulo{
        display: flex;
        flex-direction: column;
        width: 60%;
        align-self: center;
    }
    .inverter{
        flex-direction: column-reverse;
    }
}

@media (max-width:750px){
    .meio_texto > h1{
        font-size: 40px;
        width: 100%;
        
         
     }
     .meio_texto > h2{
        font-size: 20px;
        width: 100%;
    }
    .input_meio{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    
    .input_submit{
       margin: auto;
    }
    .input_email{
        width: 100%;
    }
}